.adddestination form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adddestination input{
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}